

/*contact*/
.contact-info{
	padding: 20px;
	margin: 20px;
}
.col-md-3{
	padding: 20px;
}
.col-4{
	margin-top: 70px;
	margin-left: 8px;
}
.col-md-5{
	
	padding: 15px;
	
}
.col-md-3{
	margin-top: 19px;
}
.col-md-2{
	width: 170px;
	margin-left: 25px;
	margin-top:32px;
}
